/* fonts */
@font-face {
    font-family: 'Tondu';
    src: url('fonts/tondu_beta_beta-webfont.eot');
    src: url('fonts/tondu_beta_beta-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tondu_beta_beta-webfont.woff') format('woff'),
         url('fonts/tondu_beta_beta-webfont.ttf') format('truetype'),
         url('fonts/tondu_beta_beta-webfont.svg#tondu_betaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: helvetica, arial, tahoma, sans-serif;
  font-size: 11px;
  transition: all 0.5s ease;

  /*background: #fff;*/
  background: #36A5A5;/*
  background: #1F1F1F;
  background: #121212;*/
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-family: arial, tahoma, sans-serif;
  font-size: 14px;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #000;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

header {
  height: 80px;
  background-color: #1F1F1F;

  transition: all 0.5s ease;
}

header .header-content {
  width: 10px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}

header .header-content .name {
  text-transform: uppercase;
}

header nav {
  position: absolute;
  top: 30px;
  right: 0;
  font-family: 'Montserrat', sans-serif;
}

header nav ul {
  padding: 0;
  margin: 0;
  text-decoration: right;
}

header nav li {
  padding-left: 30px;
  list-style: none;
  display: inline-block;
}

header nav li a:link,
header nav li a:visited,
header nav li a:active,
header nav li a:hover {
  text-decoration: none;
  color: #fff;
}
header nav li a:hover {
  opacity: 0.8;
}

footer {
  font-size: 11px;
  width: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
}


.logotype {
  padding: 0;
  margin: 0 0 -20px 0;
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.logotype a {
  font-family: 'Tondu', sans-serif;
  font-size: 33px;
  text-decoration: none;
  font-weight: normal;
  color: #fff;
}

.logotype a:hover {
  text-decoration: none;
}

.logotype a > span:first-child {
  text-transform: lowercase;
  display: block;
  line-height: 20px;
}

.logotype a > span:last-child {
  text-transform: uppercase;

  z-index: 50;
  position: relative;
}
/* give the 'g' a border for the overlap */
.logotype a > span > span.g {
  text-shadow:
   -1px -1px 0 #1F1F1F,
    1px -1px 0 #1F1F1F,
   -1px 1px 0 #1F1F1F,
    1px 1px 0 #1F1F1F;

  z-index: 100;
    position: relative;
}
/* move the 'y' over a bit */
.logotype a > span > span.y {
  margin-left: -6px;
}


.logo {
  display: block;
  /*width: 280px;*/
  position: relative;
  margin-top: 2px;
}

.logo .subtitle {
  display: none;
}

.logo > a {
/*  background-image: url('img/newnewglassesheader.png');
  background-color: transparent;
  width: 300px;
  display: block;
  height: 0;
  padding-top: 80px;
  background-position: 0% 0%;
  width: 150px;
  background-repeat: no-repeat;
  overflow: hidden;
  max-width: 110px;
  background-size: contain;
  position: relative;
  top: 9px;*/

  font-family: 'Oswald', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
}
/*
a.logo span {
  color: #B0B0B0;
}
*/
.logo > a {
  transition: all 0.5s ease;
}


.logo > a {
  line-height: 26px;
  font-size: 30px;
}
.logo span {
  display: block;
}

.content-container {
  padding-top: 0px;
}

.content {
  width: 10px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 400;
  color: #0E6969;
}

.page {
  padding: 23px 0;
  overflow: auto;
  margin-bottom: 60px;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 48px;
  color: #0E6969;
}

.page-title > span {
  float: right;
  opacity: 0.7;
}

.page-title.smaller {
  font-size: 18px;
  font-weight: 100;
}

img.desaturate { filter: grayscale(100%); }
img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
img.circle {
  border-radius: 50%;
}

.bigtext {
  font-size: 18px;
}

.section-head {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.thing-display {
  background: white;
  border-radius: 3px;
  padding: 20px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.thing-display > p {
  margin-bottom: 0;
}

header .header-content,
.content,
footer {
  width: 1000px;
}

.about-photos {
  background: white;
  border-radius: 3px;
  padding: 10px 5px;
  margin-bottom: 20px;
  text-align: center;
}

.about-photos.flickr a img {
  max-height: 120px;
  border-radius: 3px;
}

/* black email page */
/*body.email {
  color: #fff;
  background: #000;
}

body.email.content-container {
  padding-top: 75px;
}

body.email .page {
  background: #000;
  box-shadow: 0;
  border: 0;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 18px;
  padding:0;
  border-radius: 0;
}
body.email .page-title {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 55px;
}

body.email textarea {
  background: #000;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 18px;
  width: 500px;
  height: 125px;
  border: solid #fff 1px;
  padding: 4px;
}

body.email input {
  background: #000;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 18px;
  border: 0;
  border-bottom: solid 1px #fff;
  width: 500px;
  display: block;
  padding: 4px;
}

body.email .button {
  background: #000;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 18px;
  border: solid #fff 1px;
  clear:both;
  margin-top: 50px;
  cursor: pointer;
  padding: 4px;
  width: 100px;
}

body.email .thing-display {
  color: rgba(0, 0, 0, 0.6);
}

body.email .page-copy a:link,
body.email .page-copy a:visited,
body.email .page-copy a:active,
body.email .page-copy a:hover {
  color: rgba(250, 250, 250, 0.6);
  text-decoration: underline;
}
body.email .page-copy a:hover {
  color: #fff;
}

body.email footer p a:link,
body.email footer p a:visited,
body.email footer p a:active,
body.email footer p a:hover {
  color: rgba(250, 250, 250, 0.6);
  text-decoration: underline;
}

body.email footer p a:hover {
  color: #fff;
}
*/

body.home .logo > a {
  line-height: 66px;
  font-size: 70px;
}

body.home .logo {
  margin-left: -2px;
}

body.home header {
  height: 260px;
}

body.home .logo .subtitle {
  display: block;
  margin-top: -7px;
  font-size: 23px;
  color: #9B9B9B;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  padding-top: 7px;
  margin-left: 3px;
}


body.home .my-photo {

  max-width: 110px;
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
/*  margin-top: -65px;
  border: rgb(31, 31, 31) 7px solid;
  margin-left: -9px;*/
  margin-top: -55px;
}

@media screen and (max-width:900px)
{
  header,
  body.about header,
  header .header-content {
    height: auto;

  }
  header nav {
    position: relative;
    top: auto;
    padding-top:1em;
    padding-bottom:1em;
  }
  header nav li {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  header nav li a {
    font-size: 1.5em;
  }
  header .header-content,
  .content,
  footer {
    width: 100%;
  }
  .content {
    width: 90%;
  }
  footer {
    text-align: center;
    margin-top: 50px;
  }
  .content-container {
    padding-top: 0;
  }
  header .header-content {
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
  }
  header nav {
    right: auto;
  }

  .logo > a {
    line-height: 66px;
    font-size: 70px;
  }

  .logo {
    margin-left: -2px;
  }

  .logo .subtitle {
      display: block;
    margin-top: -7px;
    font-size: 23px;
    color: #9B9B9B;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    padding-top: 7px;
    margin-left: 3px;
  }

  .page-title > span {
    font-size: 14px;
    float: none;
    display: block;
  }
  .page .thing-display img {
    max-width: 100% !important;
  }

  .my-photo {
    display: none;
  }

}


/* darker theme */
/*
.page {
  border-top-color: #383F49;
  background: transparent;
  color: white;
  font-weight: 300;
  padding-left: 0;
  padding-right: 0;
}

.page-title {
  color: #DBDBDB;
}
html {
    min-height: 100%;
}
body {
  background-color: transparent;
  background: url('img/__2_0147.jpg');
    background-size: cover;
    background-position: 50% 0%;
    min-height: 100%;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #fff;
}

footer {
  color: #fff;
}

a:hover {
  color: rgba(250, 250, 250, 0.7);
}

body.home .content-container {
  padding-top: 70px;
}

.page {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 30px 50px;
}

header, .page {
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width:900px)
{
  body, body.home {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
  }
}
*/

/*body {
  background: #1F1F1F;
}

.content,
footer p {
  color: #C37F66 !important;
}

.page-title {
  color: #ff0342 !important;
}

a:link, a:visited, a:active, a:hover {
  color: #FF0342;
}

.logo > a {
  color: #fff !important;
}*/



/* purple theme */

/*body {
  background: #2A2C34;
}
.content {
  color: #5B5E6B;
}
.page-title {
  color: #494D5C;
}
footer {
  opacity: 1;
}
footer p {
  color: #5B5E6B;
}

a:link,
a:visited,
a:active,
a:hover {
  color: #585A64;
}

a:hover {
  color: #B5DB29;
}*/

/* end purple theme */


/* orange theme */
/*
body {
  background: #A3612A;
}
.content {
  color: #E7B638;
}
.page-title {
  color: #DD8D3E;
}
footer {
  opacity: 1;
}
footer p {
  color: #D58231;
}

.content-container a:link,
.content-container a:visited,
.content-container a:active,
.content-container a:hover {
  color: #F7C74A;
}
footer a:link,
footer a:visited,
footer a:active,
footer a:hover {
  color: #F7C74A;
}*/

/* end orange theme */

/* brownish theme */
body {
  background: #5C3A1E;
}
.content {
  color: #E08F2C;
}
.page-title {
  color: #FD8019;
}
footer {
  opacity: 1;
}
footer p {
  color: #E08F2C;
}

.content-container a:link,
.content-container a:visited,
.content-container a:active,
.content-container a:hover {
  color: #F7C74A;
}
footer a:link,
footer a:visited,
footer a:active,
footer a:hover {
  color: #F7C74A;
}

/* end brownish theme */
